# exclude all
/*

# include markdowns
!README.md
!LICENSE

# include git important files
!.gitignore


# remove any mac system files
.DS_Store

# include all the important code and files needed to run the bot (except the login credentials)
!SolarisBot.bat
!SolarisBot.py
!text_manipulation.py